table.browser-table thead .sorting,
table.browser-table thead .sorting_asc,
table.browser-table thead .sorting_desc,
table.browser-table thead .sorting_asc_disabled,
table.browser-table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.browser-table td {
    font-size: 10pt;
}

table.browser-table th {
    font-size: 10pt;
}
/*
.dataTables_wrapper {
    width: 960px;
}*/

table.browser-table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.browser-table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.browser-table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.browser-table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.browser-table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }


div.dataTables_length label {
/*    width: 460px;*/
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
/*    width: 75px;*/
}
 
div.dataTables_filter label {
    float: left;
/*    width: 460px;*/
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
.browser-table {
/*    margin: 1em 0;*/
	margin-bottom: 6px !important;
    clear: both;
}

.ui360 {
/*	display: inline;*/
}

p.lead {
    text-align: right;
}


.browser-dropdown-menu {
	max-width: 960px !important;
	width: 500px !important;
}