[submodule "numpy"]
	path = numpy
	url = git://github.com/numpy/numpy.git
[submodule "radiotool"]
	path = radiotool
	url = git@bitbucket.org:srubin/radiotool.git
[submodule "static/edible"]
	path = static/edible
	url = git@bitbucket.org:srubin/edible.git
