*.pyc
app_path.py
static/tmp/*.png
static/tmp/*.mp3
static/tmp/*.json
static/speechtracks/*.wav
htk/
.svn
.idea
.vagrant
ed_env
tmp/pauses
music_browser/fail
music_browser/generate_db_entries/changepoints
music_browser/results
music_browser/succ
line_profiler
node_modules
static/uploads/*.mp3
static/uploads/*.pickle
static/uploads/*.wav
static/uploads/*.json
static/uploads/*.npz
static/uploads/*.gml
static/uploads/wfData/*.json