Flask==0.10
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
#distribute==0.6.31
networkx==1.7
python-Levenshtein==0.10.2
#numpy
#scipy
#scikit-learn
scikits.audiolab==0.11.0
scikits.samplerate==0.3.3
simplejson==3.0.9
wsgiref==0.1.2
mutagen
click
#git+https://github.com/ucbvislab/radiotool@dcb398e48d942741c2f06a21efddec97c69091c8
git+https://github.com/ucbvislab/radiotool
pyechonest
#git+https://github.com/srubin/remix
#https://github.com/srubin/remix/archive/694298d0a05aa83dca42d53656ad125c16918200.zip
#remix
