@textAreaWidth: 100%;
@textAreaFontSize: 14px;
@textAreaLineHeight: 18px;
@textAreaFont: Helvetica;
@textAreaFontWeight: normal;

.hlBox {
    font-size: @textAreaFontSize;
    line-height: @textAreaLineHeight;
    font-family: @textAreaFont;
    font-weight: @textAreaFontWeight;
    padding: 0;
    color: transparent;
    background: transparent;
    margin: 0;
    width: @textAreaWidth;
    height: 800px;
}

.hlBoxTAM {
    .hlBox;
    width: 100%
}

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.contr, .TAManager, .rawTAManager {
    position: relative;
    padding: 0;
    margin: 0;
}

.TAManager table, .rawTAManager table {
    position: relative;
    margin: 0;
    padding: 0;
}

.TAManager td, .rawTAManager td {
    position: relative;
    padding: 0;
    margin: 0;
}

.TAManager th, .rawTAManager th {
    color: rgb(0, 127, 255);
    font-size: 1.3em;
}

textarea {
    font-weight: @textAreaFontWeight;
    font-family: @textAreaFont;
    font-size: @textAreaFontSize;
    line-height: @textAreaLineHeight;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: @textAreaWidth;
    height: 800px;
    border-style: none;
    border-color: Transparent;
    resize: none;
    box-shadow: none;
    vertical-align: top;
}

.TAManager textarea, .rawTAManager textarea {
    width: 100%;
}


.hlContainer, .hlContainerTAM {
    position: absolute;
    left: 0;
    top: 0;
    line-height: @textAreaLineHeight;
    font-size: @textAreaFontSize;
    font-family: @textAreaFont;
    width: @textAreaWidth;
    white-space: normal;
    word-wrap: break-word;
}

.hlContainerTAM {
    .hlContainer;
    width: 100%
}


.taContainer {
    .hlContainer;
}

.taContainerTAM {
    .hlContainerTAM;
    font-weight: @textAreaFontWeight;
}

.highlights {
    .hlBox;
}

.highlightsTAM {
    .hlBoxTAM;
}

.emContainer {
    .hlContainer;
}

.emContainerTAM {
    .hlContainerTAM;
}

.icon-razor {
    background-image: url("../img/razor.png");
    background-position: 0px 0px;
    background-size: 14px 14px;
}

.icon-similar {
    background-image: url("../img/similar.png");
    background-position: 0px 0px;
    background-size: 14px 14px;
}

.buttonActive {
    background-color: #bbb;
}

/* OVERLAYS */
.overlayContainer, .overlayContainerTAM {
    .hlContainer;
    pointer-events: none;
}

.overlays, .overlaysTAM {
    .hlBox;
    pointer-events: none;
}

.overlay {
    pointer-events: auto;
    border-bottom: 2px dotted purple;
    cursor: pointer;
}

.dropdown-menu li {
    color: black;
    font-size: 14px;
}

.dropdown-menu li:hover {
    color: #fff;
    background: #007FFF;
}

.dropdown-menu li.disabled a,
.dropdown-menu li.disabled a:hover {
    color: #007FFF;
    background-color: #fff;
}


/* EMPHASIS */
.emphasis, .emphasisTAM {
    .hlBox;
}

.emph {
    background-color: #EEB4B4;
}

.ePt {
    border-right: 2px solid red;
    margin-right: -3px;
    margin-left: 1px;
}

.ePtModalMarker {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
}

.pause {
    background-color: #eee;
    border-radius: 5px;
}

.pauseOverlay {
    color: #bbb;
}

.breath {
    background-color: #d8e4fe;
    border-radius: 5px;
}

.breathOverlay {
    color: #aeabfe;
}

.editLocation {
    border-left: 2px solid blue;
    margin-left: -3px;
    margin-right: 1px;
}

.hl {
    background-color: #C5E3BF;
}

.scriptLine {
    margin: 4px 0px;
}

.scriptLineText {
    margin-left: 4px;
}

.input-prepend,
.input-append {
    margin-bottom: 0;
}

.dupeList {
    overflow-x: none;
    overflow-y: scroll;
}

.spinner {
    margin-top: -5px;
}

.volumeHandle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #cccccc;
    border: 1px solid #666;
    cursor: move;
}

// sliding tabs
.origSlider, .browserSlider {
     padding: 5px;
     width: 90%;
     background-color: white;
     border: 1px solid #29216d;
 }
 
 .musicBrowserBox {
     overflow-y: scroll;
     height: 100%;
 }
 
 // music library
 
#musicLibrary {
    margin-left: 5px;
}

#songUploadForm {
    margin-bottom: 0px;
}
 
// zeroclipboard
.copyButton {
    cursor: pointer;
}
 
 