@textAreaWidth: 100%;
@textAreaFontSize: 18px;
@textAreaLineHeight: 22px;

.hlBox {
    font-size: @textAreaFontSize;
    line-height: @textAreaLineHeight;
    padding: 1px ;
    color: transparent;
    background: transparent;
    margin: 0;
    width: @textAreaWidth;
    height: 800px;
}

.contr {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

textarea {
    font-size: @textAreaFontSize;
    line-height: @textAreaLineHeight;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    width: @textAreaWidth;
    height: 800px;
    resize: none;
}

.hlContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: @textAreaWidth;
}

.taContainer {
    .hlContainer;
}

.highlights {
    .hlBox;
}

.emContainer {
    .hlContainer
}

.emphasis {
    .hlBox
}

.emph {
    background-color: #EEB4B4;
}

.hl {
    background-color: #C5E3BF;
}

.scriptLine {
    margin: 4px 0px;
}

.scriptLineText {
    margin-left: 4px;
}

.input-prepend,
.input-append {
    margin-bottom: 0;
}

.dupeList {
    overflow: auto;
}